.App {
	font-family: "Inter", sans-serif;
}

/* Custom CSS */
.form-center {
    width: 100%;    
    margin: auto;
}

.bs-stepper .step-trigger {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff!important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: 50%!important;
    transition: background-color .15s ease-out, color .15s ease-out;
}

.bs-stepper-circle-custom{
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 2em;
    height: 2em;
    padding: .5em 0;
    margin: .25rem;
    line-height: 0.8rem!important;
    color: #ffffff!important;
    background-color: #007bff!important;
    border-radius: 1em;
}

.select-card:hover{cursor: pointer;}